<form [formGroup]="inputsForm" class="form-group">
    <div class="item_num">
        <igx-input-group>
            <label igxLabel for="num">Num</label>
            <input igxInput formControlName="input_num" name="num" type="text | number" />
        </igx-input-group>
    </div>
    <div class="item_date_issue">
        <igx-input-group>
            <label igxLabel for="date_issue">Date issue</label>
            <input igxInput formControlName="input_date_issue" name="date_issue" type="text | number" />
        </igx-input-group>
    </div>
    <div class="item_ntd">
        <igx-input-group>
            <label igxLabel for="ntd">Ntd</label>
            <input igxInput formControlName="input_ntd" name="ntd" type="text | number" />
        </igx-input-group>
    </div>
    <div class="item_object_name">
        <igx-input-group>
            <label igxLabel for="object_name">Name</label>
            <input igxInput formControlName="input_object_name" name="object_name" type="text" />
        </igx-input-group>
    </div>
    <div class="item_org_name">
        <igx-input-group>
            <label igxLabel for="org_name">Org name</label>
            <input igxInput formControlName="input_org_name" name="org_name" type="text" />
        </igx-input-group>
    </div>
    <div class="item_laboratory_name">
        <igx-input-group>
            <label igxLabel for="laboratory_name">Laboratory name</label>
            <input igxInput formControlName="input_laboratory_name" name="laboratory_name" type="text" />
        </igx-input-group>
    </div>
</form>